<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=0;" />
  {% seo %}
  <link rel="stylesheet" href="{{ '/public/css/styles.css' | prepend: site.baseurl }}">
  {% include head_css.html %}
  <!-- Icons -->
  <link rel="icon" type="image/jpeg" href="{{ '/public/images/icons/launcher-icon-128x128.png' | prepend: site.baseurl }}">
  <link rel="apple-touch-icon-precomposed" sizes="144x144" href="{{ '/public/images/icons/launcher-icon-152x152.png' | prepend: site.baseurl }}">
  <!-- RSS -->
  <link rel="alternate" type="application/feed+xml" title="{{site.title}}" href="{{site.baseurl}}/feed.xml">
  <link rel="manifest" href="/manifest.json">
  <script src="{{ '/public/js/jquery.min.js' | prepend: site.baseurl }}"></script>
  <script src="{{ '/public/js/highlight.min.js' | prepend: site.baseurl }}"></script>
  {% include google_analytics.html %}
</head>